import * as React from "react";
import "./index.scss";

export type I{{name}} = {
	id: string;
};

/**
 * {{description}}
 * @param props {{name}} properties
 * @returns {{name}} component
 */
const {{name}}: React.FC<I{{name}}> = (props: I{{name}}) => {
	return <div className="c-{{toLowerCase name}}">{{name}}</div>;
};

export default React.memo({{name}});
